* {
  box-sizing: border-box;
}
*::after,
*::before {
  content: '';
  clear: both;
  display: none;
  visibility: hidden;
}

html,
body {
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  background-color: #eaeaea;
}

#root {
  width: 100vw;
  height: 100vh;
}
